name: Playwright CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      # Bước 1: Checkout code từ repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Bước 2: Thiết lập Node.js phiên bản 18
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      # Bước 3: Cài đặt các dependencies
      - name: Install Dependencies
        run: |
          npm install

      # Bước 4: Cài đặt các trình duyệt Playwright
      - name: Install Playwright Browsers
        run: |
          npx playwright install

      # Bước 5: Chạy test
      - name: Run Playwright tests
        run: |
          npx playwright test FD_Register.spec.js --headed --reporter=line --workers=1

      # Bước 6: Lưu kết quả test
      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: playwright-results
          path: playwright-report/
